/* line 3, ../compass/sass/style.scss */
header {
  position: relative;
  background-color: #861a0e;
}
/* line 6, ../compass/sass/style.scss */
header #header-content {
  width: 1024px;
  margin: auto;
}
/* line 9, ../compass/sass/style.scss */
header #header-content #trump-img {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 45px;
  transform: rotate(-12deg);
}
/* line 15, ../compass/sass/style.scss */
header #header-content .header-image {
  width: 200px;
  margin-right: 35px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 15, ../compass/sass/style.scss */
  header #header-content .header-image {
    display: block;
    margin: auto;
  }
}
/* line 22, ../compass/sass/style.scss */
header #header-content .header-image h1 {
  background-color: #2b325f;
  font-size: 32px;
  color: white;
  text-align: center;
}
/* line 28, ../compass/sass/style.scss */
header #header-content .header-image .stripe {
  background-color: white;
  color: white;
}
/* line 33, ../compass/sass/style.scss */
header #header-content div {
  display: inline-block;
  width: 370px;
  vertical-align: top;
  margin: 30px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 33, ../compass/sass/style.scss */
  header #header-content div {
    display: block;
    width: 80%;
    margin: auto;
  }
}
/* line 43, ../compass/sass/style.scss */
header #header-content div p {
  text-align: left;
  margin: 20px;
  font-size: 24px;
  color: white;
}
/* line 49, ../compass/sass/style.scss */
header #header-content div button {
  margin-left: 20px;
  background-color: #2b325f;
  border-color: #2b325f;
}

/* line 58, ../compass/sass/style.scss */
#more-tweets.fix-nav {
  position: fixed;
  top: 0;
  z-index: 8888;
}
/* line 62, ../compass/sass/style.scss */
#more-tweets.fix-nav :before {
  opacity: 1;
}

/* line 67, ../compass/sass/style.scss */
#more-tweets {
  width: 100%;
  height: 50px;
  background-color: #2b325f;
  text-align: center;
  color: white;
  font-size: 24px;
}

/* line 77, ../compass/sass/style.scss */
.trump-tweets-container {
  opacity: 1;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
  display: block;
  perspective: 1000;
  -webkit-perspective: 1000;
}
/* line 86, ../compass/sass/style.scss */
.trump-tweets-container .trump-tweets.fold-top, .trump-tweets-container .trump-tweets.fold-bottom {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(-180deg);
  -webkit-transform-origin: center top;
  opacity: 0;
  top: 1px;
  left: 1px;
}

/* line 104, ../compass/sass/style.scss */
.trump-tweets {
  background: url("../images/sample-cover.jpg");
  width: 100%;
  height: 70vh;
}

/* line 111, ../compass/sass/style.scss */
#tweets.top-scrolled {
  margin-top: 55px;
}
