/* line 3, ../compass/sass/style.scss */
header {
  background-color: #861a0e;
}
/* line 5, ../compass/sass/style.scss */
header #header-content {
  width: 1024px;
  margin: auto;
}
/* line 11, ../compass/sass/style.scss */
header #header-content #trump-img {
  margin-left: 20px;
  margin-right: 45px;
  transform: rotate(-12deg);
}
/* line 16, ../compass/sass/style.scss */
header #header-content .header-image {
  width: 200px;
}
/* line 18, ../compass/sass/style.scss */
header #header-content .header-image h1 {
  background-color: #2b325f;
  font-size: 32px;
  color: white;
  text-align: center;
}
/* line 24, ../compass/sass/style.scss */
header #header-content .header-image .stripe {
  background-color: white;
  color: white;
}
/* line 28, ../compass/sass/style.scss */
header #header-content .header-image img {
  width: 100%;
  margin-top: 20px;
  transform: rotate(-12deg);
}
/* line 34, ../compass/sass/style.scss */
header #header-content div {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  margin: 30px 0;
}
/* line 39, ../compass/sass/style.scss */
header #header-content div p {
  text-align: left;
  margin: 20px;
  font-size: 24px;
  color: white;
  height: 150px;
}
/* line 46, ../compass/sass/style.scss */
header #header-content div button {
  margin-left: 20px;
  background-color: #2b325f;
  border-color: #2b325f;
}

/* line 55, ../compass/sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 59, ../compass/sass/style.scss */
.more-tweets {
  width: 100%;
}
